@model User
<h2>@Model.Username's Profile</h2>
<p>Email: @Model.Email</p>
<p>Member since: @Model.DateCreated.ToShortDateString()</p>

<h3>Posts by @Model.Username</h3>
@if (Model.Posts.Any())
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <a href="/Post/View/@post.Title">@post.Title</a>
                <small>@post.PostDate.ToShortDateString()</small>
            </li>
        }
    </ul>
}
else
{
    <p>No posts yet.</p>
}